<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Test</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', path='manifest.json') }}">
</head>
<body>
    <div class="container">
        <h2>Upload or Capture Image</h2>
        <div class="drop-area" id="drop-area">
            <p>Drag & Drop an image or Click to Upload</p>
            <input type="file" id="file-input" class="hidden" accept="image/*">
        </div>
        <div class="videoFeed">
            <video id="video" class="hidden" autoplay></video>
            <canvas id="canvas" class="hidden" style="border: 10px solid green;"></canvas>
        </div>
        <button id="capture-btn">Capture from Webcam</button>
        <div class="image-container">
            <img id="uploaded-image" class="hidden" alt="Uploaded Image">
            <img id="processed-image" class="hidden" alt="Processed Image">
        </div>
        <button id="process-btn" disabled>Process Image</button>
    </div>
    
    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html> 